@{
    ViewData["Title"] = "Настройки";
}
<h1 class="teg-h1-center">Настройка приложения</h1>
<hr />
<br />
<div class="text-center">
    <a asp-action="Setting_Locality" class="btn-main" class="text-center">Настройка списка населенных пуктов</a>
</div>
<br />
<div class="text-center">
    <a asp-action="Setting_Street" class="btn-main" class="text-center">Настройка списка улиц населенных пуктов</a>
</div>
<br />
<div class="text-center">
    <a asp-action="Setting_Category" class="btn-main" class="text-center">Настройка категорий</a>
</div>