@model Project_MVC.Models.CreateModel
@{
    ViewData["Title"] = "Добавление дат";
}
<h1 style="text-align:center">Дата(ы) обследования гражданина</h1>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/virtual-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<hr />
<br />
<body>
    <div class="row">
        <div class="col-lg-4">
            <form asp-action="Add_DateOfVisits" class="form-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="UserId" value="@Model.User.User_Id">
                <div class="form-groupe-form">
                    <input type="text" asp-for="User.Surname" class="form-controles-create">
                </div>
                <br/>
                <div class="form-groupe-form">
                    <input type="text" asp-for="User.Name" class="form-controles-create">
                </div>
                <br/>
                <div class="form-groupe-form">
                    <input type="text" asp-for="User.Patronymic" class="form-controles-create">
                </div>
                <br/>
                <div class="form-groupe-form">
                    <input type="date" name="Date" class="form-controles-create" />
                    <label>Дата посещения:</label>
                </div>
                <br />
                <div class="form-groupe-form">
                    <textarea name="Notes" placeholder="Комментарий, если они требуются. Например: неисправность печного отопления" class="form-controles-create"></textarea>
                    <label>Заметки</label>
                </div>
                <br />
                <div class="form-groupe-form">
                    <input type="submit" value="Сохранить" class="btn-main-create" />
                    <a asp-action="List_User" class="btn-main">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</body>