@model Project_MVC.Entity.Hause_Details
@{
    ViewData["Title"] = "Информация о домовладении";
}
<h1 style="text-align:center">Детали домовладения</h1>
<hr/>
<br />
<body>
    <div class="row">
        <div class="col-lq-4">
            <form asp-action="HausDetails" method="post" class="form-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-groupe-form">
                    <input type="text" asp-for="Fire_Detector" class="form-controles-create" />

                </div>
            </form>
        </div>
    </div>
</body>