@model IEnumerable<Project_MVC.Entity.DataVisits>
@{
  ViewData["Title"] = "Просмотр данных о посещения";
}
<h1 style="text-align:center">Даты посещений</h1>
<hr />
<br />
<table style="border-color: #000" class="table table-striped table-hover">
    <thead>
        <tr style="vertical-align:top; text-align:center">
            <th>@Html.DisplayNameFor(model=>model.Date)</th>
            <th>@Html.DisplayNameFor(model=>model.Notes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list_date in Model)
        {
            <tr style="vertical-align: central;">
                <td style="text-align: center">@Html.DisplayFor(model=>list_date.Date)</td>
                <td>@Html.DisplayFor(model=>list_date.Notes)</td>
            </tr>
        }
    </tbody>
</table>